binary/
binary*.iso
binary*.img
binary*.tar*
binary*.contents
binary*.packages
binary*.zsync

.build/
build.log

cache/

chroot/
chroot.files
chroot.packages.*

config/binary
config/bootstrap
config/build
config/chroot
config/common
config/hooks/
config/package-lists/live.list.chroot
config/source

live-image-amd64.contents
live-image-amd64.files
live-image-amd64.hybrid.iso.zsync
live-image-amd64.packages

source/
source*.iso
source*.img
source*.tar*
source*.contents
source*.packages
source*.zsync



